.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

b {
	font-weight: 500;
}

::-webkit-scrollbar {
    width: 5px;
	height: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #6753A2; 
	box-shadow: inset 0 0 6px #6753A2; 
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px #6753A2; 
	box-shadow: inset 0 0 6px #6753A2; 
}

.mainContainer {
	width: 60%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background: #E2E1E2;
}

.greenBanner {
	width: 100%;
	height: 15%;
	background: #8AC224;
}

.searchContainer {
	height: 95%;
	width: 95%;
	margin-top: -12%;
	margin-left: auto;
	margin-right: auto;
	
}

.searchNav {
	width: 100%;
	height: 8%;
	margin-right: auto;
	margin-left: auto;
	background: #6753A2;
	display: inline-block;
	box-shadow: 0px 0px 5px darkgrey;
	border-radius: 1px;
}

.searchPane {
	width: 98%;
	height: 92%;
	margin-right: auto;
	margin-left: auto;
	background: white;
	box-shadow: 0px 0px 30px darkgrey;
	border-radius: 1px;
}

.searchControls {
	width: 100%;
	height: 5%
}

.facets {
	float: left;
	width: 25%;
	height: 90%;
	border-right: 1px solid #6753A2;
}

.facetLabel {
    text-transform: uppercase;
    color: #6753A2;
    font-weight: 600;
}

.checkboxFacet {
    padding-left: 5%;
    padding-top: 5%;
}
.checkboxFacet input[type="checkbox"] {
    display:none;
}

.checkElement {
    float: left;
    width: 1em;
}

.checked {
    color: black;
}

.checked-hover {
    color: red;
}

.unchecked {
    color: darkgrey;
}

.unchecked-hover {
    color: #8AC224;
}

.resultsPane {
	width: 74%;
	height: 90%;
	float: left;
	overflow: hidden;
}

.navFooter {
	width: 100%;
	height: 4%;
}
.navFooter li {
	display: inline;
}

.searchResult {
	width: 30%;
	height: 30%;
	float: left;
	margin: 1.5%;
	position: relative;
	text-align: center;
	color: #6753A2;
	font-size: 1em;
	font-weight: 500;
}

.searchResult img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 70%;
	max-height: 70%;
	width: auto;
	height: auto;
}

.controlContainer {
	display: inline-block;
	width: 100%;
	margin-top: 1.7%;
	margin-left: 3%;
	height: 55%;
}

.title {
	color: white;
	font-size: 1.8em;
	font-weight: 300;
	vertical-align: middle;
	height: 100%;
	padding-right: 2%
}
.title b {
	font-weight: 600;
	padding-left: 1.5%;
}

.react-typeahead-container {
	display: inline-block;
	width: 40%;
	height: 100%;
	vertical-align: middle;
}

.react-typeahead-usertext, .react-typeahead-hint {
	width: 100%;
	height: 100%;
	border-radius: 2px;
	font-size: 1.3em;
	background: white;
	color: grey;
	font-style: oblique;
	font-weight: 300;
	padding-left: 1em;
	margin-right: -1px;
}

.searchButton {
	background: #6753A2;
	color: white;
	height: 100%;
	width: auto;
	padding-left: 1%;
	vertical-align: middle;
}
.searchButton img {
	height: 100%;
	width: auto;
}

.logo {
	height: 110%;
	margin-bottom: .3em;
	vertical-align: middle;
}

.dropdown {
	float: right;
	color: #6753A2;
	margin-right: 1%;
	vertical-align: middle;
	padding-left: 1%;
	font-size: 1em;
	font-weight: 500;
	margin-top: -1px;
}

.sortContainer {
	vertical-align: middle;
	float: right;
	margin-top: 1%;
	color: #6753A2;
	width: 25%;
	font-size: 1.3em;
}

.viewControlContainer {
	vertical-align: middle;
	float: right;
	margin-top: 1%;
	color: #6753A2;
	width: 25%;
	font-size: 1.3em;
}

.dropdownLabel{
	font-weight: 350;
	float: right;
	vertical-align: baseline;
}

.react-typeahead-options {
	font-size: 1.3em;
	background: white;
	color: grey;
	box-sizing: border-box;
	font-style: oblique;
	font-weight: 300;
	padding-left: 1em;
	margin-right: -1px;
	outline: 1px solid #6753A2;
	z-index: 10;
}

.react-typeahead-options li {
	list-style: none;

}

.selectedOption {
	color: #6753A2;
	font-weight: 400;
}

.refineLabel {
	float: left;
	font-size: 1.3em;
	font-weight: 300;
	color: #6753A2;
	margin-left: 3%;
	margin-top: 1%
}
